@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Basic);

body {
  font-family: 'Maven Pro', sans-serif;
  color: #333333;
}

a {
  color: #12a68b;
}
a:hover {
  color: #025e73;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Basic', sans-serif;
  font-weight: bold;
}

cite {
  font-family: 'Maven Pro', sans-serif;
}

button,
.button {
  background-color: #12a68b;
  border-radius: 4px;
  font-family: 'Maven Pro', sans-serif;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #13f2b3;
  color: #025e73;
}

.panel {
  background: transparent;
  border-color: rgba(18,166,139, 0.5);
  border-style: dashed;
  border-width: 2px;
}
.panel h4 {
  color: #025e73;
}

.top-bar {
  background-color:transparent;
  height: 6.25rem;
  line-height: 6.25rem;
}
.top-bar .name h1 a .logo {
  padding: 0.5rem 0;
}
.top-bar-section > ul > .divider,
.top-bar-section > ul > [role="separator"] {
  height: 6.25rem;
}
.top-bar-section ul li {
    background-color: transparent;
    margin: 0 0.25rem;
}
.top-bar-section ul li > a {
  color: #024059;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 12px 0 12px 0.9375rem;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: transparent;
  border-top: 5px solid transparent;
  line-height: 6.25rem;
}
.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: transparent;
  border-top: 5px solid;
  color: #12a68b;
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: transparent;
  border-top: 5px solid;
  color: #12a68b;
}
.top-bar .toggle-topbar.menu-icon a {
    color: #12a68b;
    height: 34px;
    line-height: 33px;
    padding: 0 2.5rem 0 0.9375rem;
    position: relative;
}
.top-bar.expanded .title-area {
    background-color: transparent;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 2px #12a68b, 0 8px 0 2px #12a68b, 0 16px 0 2px #12a68b;
    width: 20px;
}

.top-bar .logo {
  opacity: 1;
  transition: opacity 0.25s linear;
}
.top-bar .logo:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 40em) {
  .top-bar {
    height: 3.125rem;
    line-height: 3.125rem;
  }
    .top-bar .name {
      height: 3.125rem;
    }
    .top-bar-section ul {
      margin: 0.625rem 0;
    }
      .top-bar-section ul li {
        margin: 0;
      }
    .top-bar-section li:not(.has-form) a:not(.button) {
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-top: none;
      line-height: 2rem;
    }
    .top-bar-section ul li:hover:not(.has-form) > a {
      background-color: #12a68b;
      border-top: none;
      color: #ffffff;
    }
    .top-bar-section li:not(.has-form) a:hover:not(.button) {
      background-color: #12a68b;
      border-top: none;
      color: #ffffff;
    }

    .top-bar .logo {
      height: 3.125rem;
      padding: 0.125rem 0;
    }
}

.accordion {
  margin-bottom: 1.25rem;
}
.accordion .accordion-navigation,
.accordion dd {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.accordion .accordion-navigation > .foldable,
.accordion dd > .foldable {
  background-color: #12a68b;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 300ms ease-out 0s;
}
.accordion .accordion-navigation > .foldable:hover,
.accordion dd > .foldable:hover {
  background: #13f2b3 none repeat scroll 0 0;
  color: #025e73;
}
.accordion .accordion-navigation.active > .foldable,
.accordion dd.active > .foldable {
  background: #13f2b3 none repeat scroll 0 0;
  color: #025e73;
}
.accordion-navigation > .foldable:after {
  content: "+";
  padding-left: 5px;
  float: right;
  font-size: 1.25rem;
}
.accordion-navigation.active .foldable:after {
  content: "−";
}
.accordion .accordion-navigation > .content,
.accordion dd > .content {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.accordion .accordion-navigation > .content.active,
.accordion dd > .content.active {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

/******************************************************************************/

.heading {
  color: #12a68b;
}

blockquote.large {
  margin: 0 auto 1.875rem;
  max-width: 90%;
}
blockquote.large p {
  font-size: 1.375rem;
}
@media only screen and (max-width: 40em) {
  blockquote.large p {
    font-size: 1.25rem;
  }
}

.entry {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 3.125rem;
  padding-bottom: 1.875rem;
}
.entry .featured ul {
  margin: 3.125rem 0;
}
.entry-hd, .entry-bd, .entry-ft {
  position: relative;
}
.entry-ft {
  margin-top: 0.9375rem;
  padding: 1.25rem;
}
.entry-title {
  color: #12a68b
}
.entry-subtitle {
  color: #6f6f6f;
}

.panel-group h3 {
  color: #024059;
  margin-bottom: 1.125rem;
}
.panel-group .panel {
  margin-bottom: 1.875rem;
}

.social {
  text-align: center;
}
.social a {
  margin: 1rem;
}
.social a:hover {
  color: #11d9a0;
  transition: color 300ms ease-out 0s;
}

.featured {
  margin: 1.25rem auto;
}
.featured img {
  max-width: 10rem;
}

.intro {
  background-color: #024059;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
  padding: 2rem 0.9375rem;
}
.intro h2,
.intro h2 small,
.intro h3,
.intro h4,
.intro p {
  color: #ffffff;
}
.intro h2 {
  color: #ffffff;
  font-size: 2.75rem;
  margin: 0;
}
.intro .button {
  font-weight: bold;
}

.showcase {
  background-color: #024059;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6) inset;
  padding: 3.125rem 1rem;
}

.main-inner {
  padding: 1.875rem 1.875rem 2.5rem;
}
@media only screen and (max-width: 40em) {
  .main-inner {
    padding: 1.25rem 0;
  }
}

.aux-inner {
  padding: 3.125rem 0;
}

.footer-inner {
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.22);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.22);
  padding: 3.75rem 1.875rem;
}
.footer-inner .logo {
  display: block;
  margin: 0 auto;
}

.error-page {
  text-align: center;
}
.error-page h1 {
  color: #cccccc;
  font-size: 3.75rem;
  margin-bottom: 1.125rem;
}
.error-page h2 {
  color: #025e73;
  font-size: 2.25rem;
  margin-bottom: 1.875rem;
}
.error-page p {
  margin-bottom: 1.125rem;
}
@media only screen and (max-width: 40em) {
  .error-page h2 {
    font-size: 1.875rem;
  }
}
