<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bower_components/foundation/js/foundation.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>

  </body>

</html>
